
servers.dat
usercache.json
usernamecache.json
*.log
*.gz
/logs/
/crash-reports/
config/byg/backups/last_working_configs_backup.zip
not-enough-crashes/Uploaded Crash logs.txt
/saves/
/XaeroWaypoints/
/XaeroWorldMap/
/screenshots/
servers.dat_old
/schematics/